@page
@model ChemSecureWeb.Pages.TankDetailsModel
@{
	ViewData["Title"] = "Tank Details";
}
<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
	<div class="col-md-4">
		<input type="hidden" asp-for="tank.Id" />
			<div class="form-group">
			<p>Maximum Capacity</p>
			<label asp-for="tank.Capacity" class="control-label" />
			<input asp-for="tank.Capacity" class="form-control" readonly />
			</div>
			<div class="form-group">
				<p>Current Volume</p>
				<label asp-for="tank.CurrentVolume" class="control-label" />
				<input asp-for="tank.CurrentVolume" class="form-control" readonly/>
				</div>
			<div class="form-group">
				<p>Percentage Filled</p>
				<label asp-for="tank.Percentage" class="control-label" />
				<input asp-for="tank.Percentage" class="form-control" readonly/>
				</div>
			<div class="form-group">
				<p>Waste Type</p>
				<label asp-for="tank.Type" class="control-label" />
			<input asp-for="tank.Type" class="form-control" readonly />
			</div>
			<div class="form-group">
				<a class="btn btn-primary" asp-page="Tank">Back</a>
			</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}